<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-primary mt-4 default-color float-right" data-toggle="modal" data-target="#new_post_modal">
          New post
        </button>
    </div>
    <div class="col-4">
        <h4 style="display: inline">Facebook</h4>&nbsp; &nbsp;
          <%if @connected_app.flatten.include? 'facebook'%>
            <%@connected_app.each do |app|%>
              <% if app[0] == 'facebook' and app[1] == "inactive"%>
                <small><a href="/users/auth/facebook">Connect</a></small> <br/>
              <%end%>
              <%if app[0] == 'facebook' and app[1] == 'active'%>
                <small><a href="/disconnect/facebook">Disconnect</a></small><br />
              <%end%>
            <%end%>
            <%if @facebook_pages%>
              <div class="form-check form-check-inline">
                <h5>Filter Page:</h5>&nbsp;
                <% @facebook_pages.each do |page|%>
                    <input class="form-check-input" type="radio" name="page_token" id="inlineRadio1" value="<%= page['id']%>">
                    <label class="form-check-label" for="inlineRadio1"><%= page["name"]%></label>&nbsp;&nbsp;
                <%end%> 
              </div>
            <%end%>  
            <% if @facebook_page_posts %>
              <% @facebook_page_posts.each do |post|%>
                <div class="card mt-2">
                  <div class="card-header card-head default-color">
                     <label class="font-weight-light float-right text-white" style="font-size: 0.8rem;"><%= DateTime.parse(post["created_time"]).strftime("%e %b %Y")%></label>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><%= truncate(post["message"],length: 200)%></h5>
                    <% if post["image"]%>
                      <%post["image"].each do |src|%>
                        <img src="<%=src%>" width="320" height="320" style="display: inline;">
                      <%end%>
                    <%end%>
                  </div>
                  <div class="card-footer">
                    <i class="fas fa-thumbs-up " style="color: #563d7c;">&nbsp; &nbsp;<%= post['likes']%></i>
                    <i class="fas fa-comment-dots float-right" style="color: #563d7c;">&nbsp; &nbsp;<%= post['comments'].length%></i>
                  </div>
                </div>
                <%unless post['comments'].empty?%>
                    <div class="alert alert-light">
                      <ul style="font-size: 0.7rem;">
                        <% post['comments'].each do |comment| %>
                          <li>
                            <%if comment['from'].nil?%>
                              <%= comment['message'] %>
                            <%else%>
                              <%= comment['from']['name'] %>
                              <ul>
                                <li> <%= comment['message'] %> </li>
                              </ul>
                            <%end%>
                          </li>  
                        <%end%>
                      </ul>
                  </div>
                <%end%>  
              <%end%>
            <%end%>  
          <%else%>
            <a href="/users/auth/facebook">Connect Facebook</a>
          <%end%>  
    </div>
    <div class="col-4">
      <h4 style="display: inline;">Twitter</h4>&nbsp; &nbsp;
      <%if @connected_app.flatten.include? 'twitter' %>
        <%@connected_app.each do |app|%>
          <% if app[0] == 'twitter' and app[1] == "inactive"%>
            <small><a href="/users/auth/twitter">Connect</a></small> <br/>
          <%end%>
          <%if app[0] == 'twitter' and app[1] == 'active'%>
            <small><a href="/disconnect/twitter">Disconnect</a></small><br />
          <%end%>
        <%end%>
        <%if @twitter_page_posts%>
          <% @twitter_page_posts.each do |post|%>
            <div class="card mt-2">
              <div class="card-header card-head default-color">
                <label class="text-white">
                <%if post.user_mentions.empty?%>
                  <%=post.user.name %>
                <%else%>
                  <%= post.user_mentions.first.name%>
                <%end%>
                </label>
                <label class="font-weight-light float-right text-white" style="font-size: 0.8rem;"><%= DateTime.parse(post.created_at.to_s).strftime("%e %b %Y")%></label>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= truncate(post.full_text,length: 200)%></h5>
                <% if post.media? %>
                  <% post.media.each do |media|%>
                    <%= image_tag(media.media_url.to_s)%>
                    <img src="<%=media.media_url_https.to_s %>" >
                  <%end%>
                <%end%>
                <%# post.to_hash[:entities][:media].first[:media_url]%>
              </div>
              <div class="card-footer">
                <i class="fas fa-retweet" style="color: #563d7c;"> &nbsp; <%= post.retweeted_status.retweet_count%></i>&nbsp;&nbsp;
                <i class="fas fa-heart" style="color: #563d7c;"> &nbsp;<%= post.retweeted_status.favorite_count%></i>
              </div>
            </div>
          <%end%>
        <%end%>  
      <%else%>
        <a href="/users/auth/twitter">Connect</a>
      <%end%>     
    </div>
    <div class="col-4">
      <h4 style="display: inline;">Instagram</h4> &nbsp; &nbsp;
       <%if @connected_app.flatten.include? 'instagram' %>
        <%@connected_app.each do |app|%>
          <% if app[0] == 'instagram' and app[1] == "inactive"%>
            <small><a href="/users/auth/instagram">Connect</a></small> <br/>
          <%end%>
          <%if app[0] == 'instagram' and app[1] == 'active'%>
            <small><a href="/disconnect/instagram">Disconnect</a></small><br />
          <%end%>
        <%end%>
        <%if @instagram_page_posts%>
          <% @instagram_page_posts.data.each do |post|%>
            <div class="card mt-2">
              <div class="card-header card-head default-color">
                 <label class="font-weight-light float-right text-white" style="font-size: 0.8rem;"><%= DateTime.parse(Time.at(post.created_time.to_i).to_s).strftime("%e %b %Y")%></label>
                <%#= Time.at(post.created_time.to_i)%>
              </div>
              <div class="card-body">
                <h5 class="card-title"> <%= post.caption.text unless post.caption.nil? %></h5>
                <img src="<%= post.images.low_resolution.url %>" width="320" height="320">
              </div>
            </div>
          <%end %> 
        <%end%> 
      <%else%>
        <a href="/users/auth/instagram">Connect </a>
      <%end%>    
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="new_post_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Post to page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">

          <%= form_tag("/page_post", method: "post", multipart: true, class: 'col-12') do %>
            <%if @connected_app.include? 'facebook'%>
              <div class="form-group">
                <%= label_tag(:access_token, "Page:") %>
                <%= select_tag "access_token", options_for_select(@facebook_pages.collect{|p| [p['name'],p['access_token']]}), prompt: "Select Page", class: 'form-control'%>
              </div>
            <%end%>  
            <div class="form-group">
              <input id="datetimepicker" type="text" name="delay_time" placeholder="Set time delay">
            </div>
            <div class="form-group">
              <%= label_tag(:message, 'Message:')%>
              <%= text_area_tag(:message,'', rows: 10, class: 'form-control', placeholder: "Type here...")%>
            </div>
            <div class="form-group">
              <%= label_tag(:choose_file,"Image:")%>
              <%= file_field_tag('images[]', multiple: true, accept: 'image/*' )%>
            </div>
            <div class="form-group">
              <%= label_tag(:app, 'Select Apps:')%>&nbsp;
              <% @connected_app.each do |app|%>
                <%unless app[0] == "instagram"%>
                  <%= check_box_tag(app[0])%>
                  <%= label_tag(app[0])%>
                <%end%>  
              <%end%>
            </div>

            <%= submit_tag("Submit", class: 'btn btn-primary default-color') %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
