<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group mt-4">
          <h4>Filter Page:</h4>
        </div>
        <% @pages.each do |page|%>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="page_token" id="inlineRadio1" value="<%= page['id']%>">
            <label class="form-check-label" for="inlineRadio1"><%= page["name"]%></label>
          </div>
        <%end%>  
      </form>
    </div>
    <div class="col-8">
      <small>Page feed</small>
      <% @page_posts.each do |post|%>
        <div class="card mt-2">
          <div class="card-header">
            <%= post["created_time"]%>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= truncate(post["message"],length: 200)%></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary default-color">view</a>
          </div>
        </div>
      <%end%>  
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary mt-4 default-color" data-toggle="modal" data-target="#new_post_modal">
        New post
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="new_post_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Post to page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form action="/page_post" method="post" class="col-12"  enctype="multipart/form-data">
            <div class="form-group">
              <label>Page:</label>
              <select class="form-control" name="access_token">
                <option value="">Select Page</option>
                <% @pages.each do |page|%>
                  <option value="<%= page['access_token']%>"><%= page["name"]%></option>
                <%end%>
              </select>
            </div>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <div class="form-group">
              <label>Message:</label>
              <textarea name="message"  rows="10" class="form-control" placeholder="Type here.."></textarea>
            </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">Image:</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1" name="images[]" accept="image/*" multiple>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary default-color">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
