<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-primary mt-4 default-color pull-right" data-toggle="modal" data-target="#new_post_modal">
          New post
        </button>
    </div>
    <div class="col-4">
        <h4>Facebook</h4>
        <%if @connected_app.include? 'facebook'%>
          <div class="form-check form-check-inline">
            <h5>Filter Page:</h5>
            <% @facebook_pages.each do |page|%>
                <input class="form-check-input" type="radio" name="page_token" id="inlineRadio1" value="<%= page['id']%>">
                <label class="form-check-label" for="inlineRadio1"><%= page["name"]%></label>
            <%end%> 
          </div>
          <small>Page feed</small>
          <% @facebook_page_posts.each do |post|%>
            <div class="card mt-2">
              <div class="card-header">
                <%= post["created_time"]%>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= truncate(post["message"],length: 200)%></h5>
                <% unless post["image"].nil?%>
                  <%post["image"].each do |src|%>
                    <img src="<%=src%>" width="35%" style="display: inline;">
                  <%end%>
                <%end%>
                <a href="#" class="btn btn-primary default-color">view</a>
              </div>
            </div>
          <%end%>
        <%else%>
          <a href="/users/auth/facebook">Connect Facebook</a>
        <%end%>  
    </div>
    <div class="col-4">
      <h4>Twitter</h4>
      <%if @connected_app.include? 'twitter'%>
        <%unless @twitter_page_posts.nil?%>
          <% @twitter_page_posts.each do |post|%>
            <div class="card mt-2">
              <div class="card-header">
                <%= post.created_at%>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= truncate(post.full_text,length: 200)%></h5>
                <% if post.media? %>
                  <% post.media.each do |media|%>
                    <%= image_tag(media.media_url.to_s)%>
                    <img src="<%=media.media_url_https.to_s %>" >
                  <%end%>
                <%end%>
                <%# post.to_hash[:entities][:media].first[:media_url]%>
                <a href="#" class="btn btn-primary default-color">view</a>
              </div>
            </div>
          <%end%>
        <%end%>
      <%else%>
        <a href="/users/auth/twitter">Connect Twitter</a>
      <%end%>     
    </div>
    <div class="col-4">
      <h4>Instagram</h4>
      <%if @connected_app.include? 'instagram'%>
        <%unless @instagram_page_posts.nil?%>
          <% @instagram_page_posts.data.each do |post|%>
            <div class="card mt-2">
              <div class="card-header">
              </div>
              <div class="card-body">
                <h5 class="card-title"> <%= post.caption.text unless post.caption.nil? %></h5>
                <img src="<%= post.images.low_resolution.url %>" width="320" height="320">
                <a href="#" class="btn btn-primary default-color">view</a>
              </div>
            </div>
          <%end %> 
        <%end%> 
      <%else%>
        <a href="/users/auth/instagram">Connect Instagram</a>
      <%end%>    
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="new_post_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Post to page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">

          <%= form_tag("/page_post", method: "post", multipart: true, class: 'col-12') do %>
            <%# if current_user.provider == "facebook" %>
              <div class="form-group">
                <%= label_tag(:access_token, "Page:") %>
                <%= select_tag "access_token", options_for_select(@facebook_pages.collect{|p| [p['name'],p['access_token']]}), prompt: "Select Page", class: 'form-control'%>
              </div>
            <%#end%>
            <div class="form-group">
              <input id="datetimepicker" type="text" name="delay_time">
            </div>
            <div class="form-group">
              <%= label_tag(:message, 'Message:')%>
              <%= text_area_tag(:message,'', rows: 10, class: 'form-control', placeholder: "Type here...")%>
            </div>
            <div class="form-group">
              <%= label_tag(:choose_file,"Image:")%>
              <%= file_field_tag('images[]', multiple: true, accept: 'image/*' )%>
            </div>

            <%= submit_tag("Submit", class: 'btn btn-primary default-color') %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
